export TF_CREDS=[CHANGEME to service account keyfile name]
export SA_ACCOUNT_EMAIL=[CHANGEME to service account email address]
export TF_VAR_org_id=[CHANGEME to your organization ID in GCP]
export TF_VAR_billing_account=[CHANGEME to your billing account ID in GCP]
export TF_ADMIN=[CHANGEME to your service account name]
export GLOBAL_PROJECT_ID=[CHANGEME to your parent project ID in GCP]