export TF_VAR_org_id=[CHANGEME to your organization ID in GCP]
export TF_VAR_billing_account=[CHANGEME to your billing account ID in GCP]
export TF_ADMIN=[CHANGEME to your admin service account name]
export TF_CREDS=~/.config/gcloud/${TF_ADMIN}.json
export PROJECT_NAME=[CHANGEME to name of project; make sure corresponding tfvars file exists]
